@model UserVMcs
@{
    ViewData["Title"] = "Delete";
}


<h1>Do you want to delete @Model.FName ?</h1>
<form method="post" asp-action="ConfirmDelete">
    <partial name="PartialViews/_DeleteDetailsPartialView"></partial>

    <div class="mt-5">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="userIndex" class="btn btn-light ">Cancel</a>


    </div>

</form>

