@model EmployeeVM
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name </h1>
<div asp-validation-summary="All"></div>
<form method="post" asp-action="Edit" enctype="multipart/form-data" >

    <partial name="PartialViews/_CreateEditPartialView"></partial>

    <div class="mt-5">
        <input type="submit" value="submit" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-warning">Back To List</a>

    </div>
</form>
@section Validation {
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
}